@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');



* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    background: url(../img/bg_image_1.jpg) center (center / cover) no-repeat;
}

@import 'blocks/title';
@import 'blocks/menu';
@import 'blocks/promo';