.menu {
    min-height: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    &__logo {
        img {
            width: 55px;
            height: 55px;
        }
        &_big {
            img {
                width: 90px;
                height: 90px;
            }
        }
    }
    &__list {
        display: flex;
        list-style-type: none;
        padding-top: 16px;
    }
    &__item {
        padding-right: 35px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__lang {
        padding-right: 20px;
    }
    &__divider {
        width: 1px;
        height: 30px;
        border: 0.873968px solid $second-color;
        opacity: 0.5;
    }
    &__icons {
        padding-left: 20px;
        &:hover {
            text-decoration: none;
        }
    }
}